.navbar {
    display: flex;
    justify-content: space-between; 
    padding: 10px 20px;
  }

  .left-items, .right-items {
    display: flex;
    gap: 15px;
  }

.navbar a{
    color:black;
  }

.navbar2{
    display: flex;
    flex-direction: column;/*dikey dizer ogeleri*/
    justify-content: center;/*yatayda ortalar*/
    align-items: center;/*dikeyde ortalar*/
    margin-top: 100px;/*Navbardan bosluk*/
}

.navbar2 input{
    margin-top: 20px;
    width: 500px;
    height: 40px;
    border: 1px solid #ccc;/*kutunun kenarlıgı*/
    border-radius: 20px;/*yuvarlak yapar*/
}

.search-container {
    position: relative; /* Sol ve sağ ikonlar input'un içinde olacak */
    display: flex;
    align-items: center;
    gap: 10px;
}

.left-icon {
    position: absolute;
    left: 10px; /* Sol tarafa yerleştir */
    width: 20px;
    height: 20px;
}

/* Sağ ikon */
.right-icon {
    position: absolute;
    right: 10px; /* Sağ tarafa yerleştir */
    width: 20px;
    height: 20px;
}
.navbar2 button{
    margin-top: 10px;
}

.footer{
    position: fixed;/*sabitle*/
    bottom: 0;/*en alta git*/
    width: 98%;/*yatayda hepsini kaplar*/
    display: flex;
    justify-content: space-between; 
    padding: 10px 20px;
    background-color: #ccc;
}

.footer a{
    color: black;
}